{% extends "worker/wheader.html" %}
{% load static %}
{% block mainbody %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url "resident:index" %}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">个人中心</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">个人中心</h1>
        </div>
    </div><!--/.row-->

    <!--个人信息-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" style="height: 50%">
                    <div class="col-sm-5">
                        <img src="{% static "index/image/worker.jpg" %}" alt="" style="margin-top: 20px;width: 50%;">
                    </div>
                    <div class="col-sm-5" style="margin-top: -10px;margin-left: -50px">
                        <table class="table" style="margin-top: 30px;width: 100%">
                            <tr>
                                <td><h3>姓名：{{ wor.wname }}</h3></td>
                            </tr>
                            <tr>
                                <td>主要业务：{{ wor.wskilled }}</td>
                            </tr>
                            <tr>
                                <td>时薪：{{ wor.whoursalary }}</td>
                            </tr>
                            <tr>
                                <td>完成任务总量：{{ wor.wtaskmount }}</td>
                            </tr>
                            <tr>
                                <td>联系方式：{{ wor.wtelnum }}</td>
                            </tr>
                            <tr><td></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--判断密码一致-->



{% endblock %}