{% extends "resident/rheader.html" %}

{% block mainbody %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url "resident:index" %}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">需求</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">所有需求</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6 col-sm-offset-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>需求描述</th>
                                    <th>是否被接取</th>
                                    <th>工人名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--此处不太好需要修改，如已经接取的任务不呢给修改
                            ----还有就是应该加日期，处理的日期和发布的日期，超过几天没人接取就直接强制安排
                            -->
                            {% for dem in demand %}
                                <tr>
                                    <td>{{ dem.get_dtype_display }}</td>
                                    <td>{{ dem.dcontend }}</td>
                                    {% if not dem.is_accept  %}
                                        <td>否</td>
                                        <td>无</td>
                                    {% else %}
                                        <td>是</td>
                                        <td>{{ dem.dwnum }}</td>
                                    {% endif %}
                                    <td><a href="/changedemand/{{ dem.dnum }}">修改</a>/<a href="javascript:void(0)" id="delete" onclick="deletede({{ dem.dnum }})">删除</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.col-->
        </div>
    </div>
</div>

<script type="text/javascript">
    function deletede(num) {
        if(window.confirm("确认删除吗?"))
        {
            let durl = "/deletede/"+num;
            console.log(durl);
            window.location.href = durl;
        }
    }
</script>

{% endblock %}