{% extends "resident/rheader.html" %}

{% block mainbody %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url "resident:index" %}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">修改</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">修改需求</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6 col-sm-offset-4">
                        <form action="{% url "resident:change_post"%}" method="post" role="form" class="form-horizontal">
                            <label>
                                <input name="type" type="hidden" value="{{ dem.dtype }}">
                            </label>
                            <p>{{ result }}</p>
                            <div class="form-group">
                                <label>{{ demandname }}需求</label>
                                <br/>
                                <label>
                                    <textarea name="contend" style="width: 300px; border:1px solid black;" class="form-control" rows="3">{{ dem.dcontend }}</textarea>
                                </label>
                            </div>
                            <button id="submit" type="submit" class="btn btn-primary">修改</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div>
    </div>
</div>


{% endblock %}