<!--
    侧边和头页面
-->


<!DOCTYPE html>
{% load static %}
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" >
<title>智慧社区</title>

<link rel="stylesheet" href="{% static "pay/css/mui.min.css" %}">
<link rel="stylesheet" href={% static "index/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "index/css/datepicker3.css" %}>
<link rel="stylesheet" href={% static "index/css/styles.css" %}>
<link rel="stylesheet" href="{% static "serviceImg/serviceStyle.css" %}">
<link rel="stylesheet" href="{% static "pay/css/navigate.css" %}">
{% block css %}
{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">智慧社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>智慧</span>社区</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        {{request.session.userName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "resident:message" %}"><span class="glyphicon glyphicon-user"></span> 个人中心</a></li>
                        <li><a href="{% url "resident:Logout" %}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li class="active">
            <a  href={% url "resident:index" %}><span class="glyphicon glyphicon-dashboard"></span> 首页 </a>
        </li>
        <li>
            <a href={% url "resident:news" %}><span class="glyphicon glyphicon-th"></span> 新闻</a>
        </li>
        <li>
            <a href={% url "resident:pay" %}><span class="glyphicon glyphicon-stats"></span> 缴费</a>
        </li>
        <li>
            <a href={% url "resident:market" %}><span class="glyphicon glyphicon-shopping-cart"></span> 超市</a>
        </li>

        <li class="parent ">
            <a href="javascript:void(0)">
                <span class="glyphicon glyphicon-list"></span> 服务 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="{% url "resident:clean" %}">
                        <span class="glyphicon glyphicon-share-alt"></span> 保洁
                    </a>
                </li>
                <li>
                    <a class="" href="{% url "resident:fault" %}">
                        <span class="glyphicon glyphicon-share-alt"></span> 维修
                    </a>
                </li>
                <li>
                    <a class="" href="{% url "resident:safe" %}">
                        <span class="glyphicon glyphicon-share-alt"></span> 安保
                    </a>
                </li>
                <li>
                    <a class="" href="{% url "resident:alldemand" %}">
                        <span class="glyphicon glyphicon-share-alt"></span> 所有需求
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href={% url "resident:suggest" %}><span class="glyphicon glyphicon-shopping-cart"></span> 反馈</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li><a href={% url "resident:login" %}><span class="glyphicon glyphicon-user"></span>返回登录页面</a></li>
    </ul>
</div><!--/.sidebar-->
{% block mainbody %}
    <p>继承</p>
{% endblock %}

</body>
{% block js %}
{% endblock %}
<script type="text/javascript" src={% static "index/js/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "index/js/jquery.js" %}></script>
<script type="text/javascript"  src={% static "index/js/popper.min.js" %} ></script>
<script type="text/javascript"  src={% static "index/js/bootstrap.min.js" %}></script>
<script type="text/javascript"  src={% static "index/js/bootstrap-datepicker.js" %}></script>
<script type="text/javascript" >
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    });
    $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    });
</script>

</html>
