{% extends "resident/rheader.html" %}

{% block mainbody %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url "resident:index" %}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">个人中心</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">个人中心</h1>
        </div>
    </div><!--/.row-->

    <!--个人信息-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6 col-sm-offset-4">
                        <form action="{% url "resident:changeRe"%}" method="post" id="change_msg" role="form" class="form-horizontal">
                            <div class="form-group">
                                <label>户号</label>
                                <br/>
                                <label>
                                    <input value="{{ user.rnum }}" type="text" style="width: 300px; border:1px solid black;" name="num" id="num" class="form-control" placeholder="户号" readonly="readonly">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>姓名</label>
                                <br/>
                                <label>
                                    <input value="{{ user.rname }}" type="text" style="width: 300px; border:1px solid black;" name="name" id="name" class="form-control" placeholder="姓名">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>新密码</label>
                                <br/>
                                <label>
                                    <input name="password" id="password" style="width: 300px; border:1px solid black;" type="password" class="form-control">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>再输入一次新密码</label>
                                <br/>
                                <label>
                                    <input name="newpassword" id="newpassword" style="width: 300px; border:1px solid black;" type="password" class="form-control" onkeyup="checkpassword()">
                                    <span id="warn_password">
                                        <br><span id="warnpass" style="color: green"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>性别</label>
                                <div class="radio">
                                    {% if user.rgender == '1' %}
                                        <label>
                                            <input  type="radio" name="gender" id="gender" value="1" checked>男
                                        </label>
                                        <label>
                                            <input type="radio" name="gender" id="gender" value="0">女
                                        </label>
                                    {% else %}
                                        <label>
                                            <input type="radio" name="gender" id="gender" value="1">男
                                        </label>
                                        <label>
                                            <input type="radio" name="gender" id="gender" value="0" checked>女
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>住址</label>
                                <br/>
                                <label>
                                    <input value="{{ user.raddress }}" type="text" style="width: 300px; border:1px solid black;" name="address" id="address" class="form-control" placeholder="住址" readonly="readonly">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>电话</label>
                                <br/>
                                <label>
                                    <input value="{{ user.rtelnum }}" type="text" style="width: 300px; border:1px solid black;" name="telnum" id="telnum" class="form-control" placeholder="电话">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>微信</label>
                                <br/>
                                <label>
                                    <input value="{{ user.rwechat }}" type="text" style="width: 300px; border:1px solid black;" name="wechat" id="wechat" class="form-control" placeholder="微信">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Q Q</label>
                                <br/>
                                <label>
                                    <input value="{{ user.rqq }}" type="text" style="width: 300px; border:1px solid black;" name="qq" id="qq" class="form-control" placeholder="Q Q">
                                </label>
                            </div>
                        <div class="form-group">
                                <label>生日</label>
                                <br/>
                                <label>
                                    <input type="date" value="2010-1-5"  style="width: 300px; border:1px solid black;" name="birth" id="birth" class="form-control">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>简介</label>
                                <br/>
                                <label>
                                    <textarea name="contend"  id="contend" style="width: 300px; border:1px solid black;" class="form-control" rows="3">{{ user.rcontend }}</textarea>
                                </label>
                            </div>
                            <button id="submit" type="submit" onclick="thing()" class="btn btn-primary">修改</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div>
    </div><!-- 个人信息 -->
</div>
    <script type="text/javascript">{{ script }}({{ wrong }})</script>
<!--判断密码一致-->

{% endblock %}
{% block js %}
<script type="text/javascript">
    function thing() {
        const hh = document.getElementById("change_msg");
        const password = document.getElementById("password").value;
        const repassword = document.getElementById("newpassword").value;
        if(password !== "" && repassword === "")
        {
            alert("再输入一次新密码!");
        }
        else{
            hh.submit;
        }
    }
    function checkpassword() {
        const password = document.getElementById("password").value;
        const repassword = document.getElementById("newpassword").value;
        const warn_pa = document.getElementById("warnpass");
        const sub =  document.getElementById("submit");
        if (password === repassword) {
            warn_pa.style="color:green";
            warn_pa.innerHTML = "两次输入密码一致";
            sub.disabled = false;

        } else {
            warn_pa.style="color:red";
            warn_pa.innerHTML = "两次输入密码不一致!";
            sub.disabled = true;
        }
    }
</script>
{% endblock %}
